body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

hr {
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 5%;
  margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1.5rem;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.skill-image-1 {
  width: 30%;
  height: 30%;
  float: left;
  margin-right: 30px;
}

.skill-image-2 {
  width: 30%;
  height: 30%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  padding: 0 200px 0 200px;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.kevinFPicture {
  border-radius: 100%;
  margin-top: 50px;
  /*padding-top: 40px;*/
}

.introduction {
  text-align: center;
  margin: 0 16rem 0 16rem;
}

.hot-wing-love {
  width: 40%;
  margin: 40px auto 60px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.bottom-container {
  padding: 50px 0 20px;
  margin-top: 4rem;
  background-color: #66bfbf;
}

.copyright {
  color: #eaf6f6;
  font-size: 10px;
  padding: 20px 0;
}
